<header class="topbar landing-topbar">
  <div class="topbar-rail">
    <a class="brand" href="/"><span class="brand-mark">&gt;_</span> PocketShell</a>
    <nav class="site-nav">
      <a class="nav-link" href="/#features">Features</a>
      <a class="nav-link" href="/#how">How it works</a>
      <a class="nav-link" href="/#security">Security</a>
      <a class="nav-link" href="/#faq">FAQ</a>
      <a class="nav-link" href="/blog/">Blog</a>
    </nav>
    <span class="spacer"></span>
    <a class="button" href="{{ site.app_url }}/">Sign in</a>
  </div>
</header>
